.container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #eaeaea;
    & .children {
        width: 150px;
        line-height: 20px;
        background: #f60;
        color: #fff;
    }
}
